@brightColor: rgba(57, 162, 253, 1);
@hoverColor: #39a2fd;
.layui-layout-admin {
  .layui-side {
    top: 0;
    background: linear-gradient(#3aa5ff, #0061ce);
    background-color: @brightColor;

    .header {
      height: 80px;
      line-height: 80px;
    }

    .layui-nav {
      background-color: transparent;

      .layui-nav-item > a {
        &:hover {
          background-color: rgba(255, 255, 255, 0.4) !important;
        }
      }

      .layui-nav-child {
        background-color: transparent !important;

        dd {
          padding-left: 16px;

          &:hover {
            background-color: rgba(255, 255, 255, 0.4) !important;
          }
        }
      }

      .layui-this {
        background-color: rgba(255, 255, 255, 0.4) !important;
      }

      a {
        background-color: transparent !important;
        color: #fff;
      }
    }
  }

  .layui-body {
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  .layui-header {
    height: 80px;
    line-height: 80px;
    background-color: #fff !important;

    .layui-bg-blue {
      background-color: #fff !important;

      .layui-anim,
      .layui-anim-upbit {
        border: none !important;
      }
    }

    a {
      color: #333 !important;
    }

    .logo {
      .logo-icon {
        position: relative;
        left: 16px;
      }

      .img_1 {
        width: 34px;
        height: 36px;
      }

      .img_2 {
        height: 36px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #000;

  &:visited {
    color: #000;
  }

  &:active {
    color: #000;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.news-list {
  margin: 0;
  padding: 0;
  font-size: 14px;

  .news-item {
    height: 36px;
    line-height: 36px;
    position: relative;

    .text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 76%;
      cursor: pointer;
      margin: 0;
      text-align: left;

      &:hover {
        color: @brightColor;
        text-decoration: underline;
      }
    }

    .time {
      position: absolute;
      right: 0;
      color: #999;
    }
  }
}

.el-main {
  padding: 0;
}
