.layui-body {
  overflow: hidden;
}

.layui-header {
  .logo {
    .logo-icon {
      position: relative;
      left: 16px;
      top: 12px;
    }

    .img_1 {
      width: 34px;
      height: 36px;
    }

    .img_2 {
      height: 36px;
    }
  }
}
