<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/element.min.css" />
    <script src="js/vue.js"></script>
    <script src="js/element.min.js"></script>
    <script src="js/vue-grid-layout.umd.min.js"></script>
    <script src="../lib/jquery.js"></script>
    <script src="js/custom-card.js"></script>
  </head>
  <body>
    <el-container v-cloak id="app" tabindex="1" @keypress.native="handleGlobleKeyup($event)">
      <el-aside :width="getAsideWidth">
        <div class="aside-top-area">
          <el-card class="aside-box-card">
            <div slot="header" class="aside-box-card-head clearfix">
              <span class="card-title">可配置布局的角色</span>
            </div>
            <div class="aside-box-card-item">
              <el-tree
                ref="orgTree"
                :data="topTreeData"
                node-key="id"
                highlight-current
                current-node-key="og_1"
                @current-change="handleOrgCurrentChange"
              >
              </el-tree>
            </div>
          </el-card>
        </div>
        <div class="aside-bottom-area">
          <el-card class="aside-box-card">
            <div slot="header" class="aside-box-card-head clearfix">
              <span class="card-title">栏目模块库</span>
            </div>
            <div class="aside-box-card-item">
              <el-tree
                :data="bottomTreeData"
                :default-expand-all="true"
                node-key="id"
                current-node-key="c0"
                highlight-current
              >
                <span
                  class="custom-tree-node"
                  slot-scope="{ node, data }"
                  :draggable="true"
                  @dragstart="handleDragStart(data)"
                  @drop="handleDrop"
                >
                  <span>{{ node.label }}</span>
                  <span v-if="node.level>1" class="node-btn">
                    <i v-if="cardMap[data.id] && cardMap[data.id].placed" class="el-icon-circle-check"></i>
                    <i v-else="cardMap[data.id] && cardMap[data.id].placed" class="icon_drag"></i>
                  </span>
                </span>
              </el-tree>
            </div>
          </el-card></div
      ></el-aside>
      <el-main :class="{previewing: previewing}">
        <div class="main-header clearfix">
          <div class="main-header-container">
            <ul v-show="!previewing" class="clearfix">
              <li @click="addBlankCard">
                <i class="el-icon-plus"></i>
                <span>添加栏目模块</span>
              </li>
              <li @click="clearLayout">
                <i class="el-icon-delete"></i>
                <span>清空布局</span>
              </li>
              <li @click="restoreLayout">
                <i class="icon-chexiao"></i>
                <span>撤销</span>
              </li>
              <li @click="rebuildLayout">
                <i class="icon-chongzuo"></i>
                <span>重做</span>
              </li>
              <li @click="saveLayout">
                <i class="icon-save"></i>
                <span>保存</span>
              </li>
            </ul>
            <el-button
              v-if="previewing"
              type="primary"
              class="view-btn view-btn-exit"
              icon="el-icon-view"
              @click="preview"
              >退出预览</el-button
            >
            <el-button v-else type="primary" class="view-btn" icon="el-icon-view" @click="preview">预览</el-button>
          </div>
        </div>
        <el-scrollbar id="layout-container" class="main-content" @dragover.native="handleDragover($event)">
          <grid-layout
            :layout.sync="layout"
            :col-num="8"
            :row-height="100"
            :is-draggable="true"
            :is-resizable="true"
            :vertical-compact="true"
            :use-css-transforms="true"
            :responsive="true"
            :margin="[16, 16]"
            @layout-updated="layoutUpdatedEvent"
          >
            <grid-item v-for="item in layout" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i">
              <custom-card :item="item" class="text" @card-delete="handleCardDelete"></custom-card>
            </grid-item>
          </grid-layout>
        </el-scrollbar>
      </el-main>
    </el-container>
    <script>
      new Vue({
        el: '#app',
        data: {
          // 布局
          layout: [],
          // 布局缓存
          layoutTempArr: [],
          // 组织结构
          topTreeData: [
            {
              label: '公诉处',
              id: 'og_1'
            },
            {
              label: '侦查监督处',
              id: 'og_2'
            },
            {
              label: '职务犯罪检察处',
              id: 'og_3'
            },
            {
              label: '未成年人刑事检察办公室',
              id: 'og_4'
            },
            {
              label: '民事诉讼监督处',
              id: 'og_5'
            },
            {
              label: '刑事执行检察处',
              id: 'og_6'
            },
            {
              label: '控告申诉监察处',
              id: 'og_7'
            },
            {
              label: '信息处',
              id: 'og_8'
            },
            {
              label: '计划财务',
              id: 'og_9'
            }
          ],
          // 栏目树形结构
          bottomTreeData: [
            {
              label: '栏目模块',
              id: 'c0',
              children: [
                { label: '通知公告', id: 'c1' },
                { label: '案件到期预警', id: 'c2' },
                { label: '待办事项', id: 'c3' },
                { label: '日期行程', id: 'c4' },
                { label: '重点关注', id: 'c5' },
                { label: '检务应用', id: 'c6' }
              ]
            }
          ],
          // 栏目map
          cardMap: {
            c1: {
              i: 'c1',
              x: 0,
              y: 0,
              w: 4,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_1.png',
              templateUrl: './templates/message.html',
              placed: false
            },
            c2: {
              i: 'c2',
              x: 0,
              y: 0,
              w: 4,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_2.png',
              templateUrl: './templates/message.html',
              placed: false
            },
            c3: {
              i: 'c3',
              x: 0,
              y: 0,
              w: 4,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_3.png',
              templateUrl: './templates/message.html',
              placed: false
            },
            c4: {
              i: 'c4',
              x: 0,
              y: 0,
              w: 4,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_4.png',
              templateUrl: './templates/message.html',
              placed: false
            },
            c5: {
              i: 'c5',
              x: 0,
              y: 0,
              w: 4,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_5.png',
              templateUrl: './templates/message.html',
              placed: false
            },
            c6: {
              i: 'c6',
              x: 0,
              y: 0,
              w: 4,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_6.png',
              templateUrl: './templates/message.html',
              placed: false
            }
          },
          draging: null,
          previewing: false
        },
        computed: {
          getAsideWidth() {
            return this.previewing ? '0' : '15%';
          }
        },
        mounted() {
          this.refreshCurrentLayout();
        },
        methods: {
          // 组织机构选中变化
          handleOrgCurrentChange() {
            this.refreshCurrentLayout();
          },
          // 刷新当前布局
          refreshCurrentLayout() {
            const layoutMapStr = localStorage.getItem('layoutMap');
            let layoutMap = {};
            if (layoutMapStr) {
              layoutMap = JSON.parse(layoutMapStr);
            }
            const currentOrg = this.$refs.orgTree.getCurrentNode();
            this.layout = layoutMap[currentOrg.id] || [];
            this.layoutTempArr = [JSON.parse(JSON.stringify(this.layout))];
            this.refreshCardMap();
          },
          // 保存布局
          saveLayout() {
            const layoutMapStr = localStorage.getItem('layoutMap');
            let layoutMap = {};
            if (layoutMapStr) {
              layoutMap = JSON.parse(layoutMapStr);
            }
            const currentOrg = this.$refs.orgTree.getCurrentNode();
            layoutMap[currentOrg.id] = this.layout;
            localStorage.setItem('layoutMap', JSON.stringify(layoutMap));
            this.$message({
              type: 'success',
              message: '保存成功'
            });
          },
          // 重置cardMap状态
          refreshCardMap() {
            // 重置cardMap状态
            for (let key in this.cardMap) {
              const card = this.cardMap[key];
              card.placed = false;
            }

            // 更新已放置的card
            this.layout.forEach(item => {
              const card = this.cardMap[item.i];
              if (card) {
                card.placed = true;
              }
            });
          },
          // 添加布局到缓存
          addLayout2TempArr(layout) {
            this.layoutTempArr.push(JSON.parse(JSON.stringify(layout)));
            if (this.layoutTempArr.length > 10) {
              this.layoutTempArr = this.layoutTempArr.slice(-10);
            }
          },
          // 获取最大x
          getMaxX() {
            let x = 0;
            this.layout.forEach(item => {
              if (item.x + item.w > x) {
                x = item.x + item.w;
              }
            });
            if (x > 8) {
              x = 0;
            }
            return x;
          },
          // 获取最大y
          getMaxY() {
            let y = 0;
            this.layout.forEach(item => {
              if (item.y + item.h > y) {
                y = item.y + item.h;
              }
            });
            return y;
          },
          // 拖动栏目
          handleDragStart(data) {
            this.draging = data;
          },
          // 鼠标拖动进入布局容器
          handleDragover(e) {
            const card = this.cardMap[this.draging.id];
            if (!card || card.placed) {
              return;
            }

            const maxY = this.getMaxY();
            card.w = 6;
            card.y = maxY;
            card.placed = true;
            card.title = this.draging.label;
            this.layout.push(card);
            this.addLayout2TempArr(this.layout);
          },
          // 拖动释放
          handleDrop() {
            this.draging = null;
          },
          // 删除卡片
          handleCardDelete(item) {
            const card = this.cardMap[item.i];
            if (card) {
              card.placed = false;
            }
            const index = this.layout.findIndex(card => item === card);
            index > -1 && this.layout.splice(index, 1);
          },
          // 添加空白页
          addBlankCard() {
            let blankNum = parseInt(localStorage.getItem('blankNum')) || 0;
            blankNum += 1;
            localStorage.setItem('blankNum', blankNum);
            const maxY = this.getMaxY();
            this.layout.push({
              title: `新建栏目${blankNum}`,
              i: `blank_${blankNum}`,
              x: 0,
              y: maxY,
              w: 6,
              h: 2,
              isTemp: false,
              imgUrl: './images/bg_blank.png',
              placed: true
            });
            this.addLayout2TempArr(this.layout);
          },
          // 清空布局
          clearLayout() {
            this.$confirm('是否清空布局?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            })
              .then(() => {
                this.layout.forEach(item => {
                  const card = this.cardMap[item.i];
                  if (card) {
                    card.placed = false;
                  }
                });
                this.layout = [];
              })
              .catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消'
                });
              });
          },
          // 重做布局
          rebuildLayout() {
            this.$confirm('此操作将恢复至初始状态，是否继续?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            })
              .then(() => {
                this.refreshCurrentLayout();
              })
              .catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消'
                });
              });
          },
          // 还原布局
          restoreLayout() {
            if (this.layoutTempArr.length < 2) {
              return;
            }

            this.layout = this.layoutTempArr[this.layoutTempArr.length - 2];
            this.layoutTempArr.splice(this.layoutTempArr.length - 1, 1);
          },
          // 布局调整后事件
          layoutUpdatedEvent(newLayout) {
            this.addLayout2TempArr(newLayout);
          },
          // 主容器案件事件
          handleGlobleKeyup(e) {
            e.preventDefault();
            //Ctrl+Z
            if (e.ctrlKey == true && (e.keyCode == 90 || e.keyCode == 26)) {
              e.returnvalue = false;
              this.restoreLayout();
            }
          },
          // 预览
          preview() {
            this.previewing = !this.previewing;
          }
        }
      });
    </script>
  </body>
</html>
