<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
      <li class="layui-nav-item"><a class="custom-router-link" href="javascript:;" route-path="/">首页</a></li>
      <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">待办信息</a>
        <dl class="layui-nav-child">
          <dd><a class="custom-router-link" href="javascript:;">待签公文</a></dd>
          <dd><a class="custom-router-link" href="javascript:;">待签审批</a></dd>
          <dd><a class="custom-router-link" href="javascript:;">待办案件</a></dd>
          <dd><a class="custom-router-link" href="javascript:;">应用消息</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a class="custom-router-link" href="javascript:;">工作总览</a></li>
      <li class="layui-nav-item"><a class="custom-router-link" href="javascript:;">应用中心</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">日程管理</a>
        <dl class="layui-nav-child">
          <dd><a class="custom-router-link" href="javascript:;">会议管理</a></dd>
          <dd><a class="custom-router-link" href="javascript:;">行程管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a class="custom-router-link" href="javascript:;">检务助手</a></li>
      <li class="layui-nav-item"><a class="custom-router-link" href="javascript:;">信息查询</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">系统管理</a>
        <dl class="layui-nav-child">
          <dd><a class="custom-router-link" route-path="/views/system-setting/layout.html">门户布局管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">个人中心</a>
        <dl class="layui-nav-child">
          <dd><a class="custom-router-link" href="javascript:;">我的首页布局</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
