<div>
  <ul class="case-warning">
    <li class="news-item">
      <span class="text"> 武汉实业科技公司、陈敦劳动报酬纠纷案</span>
      <span class="warning">剩余3天时间</span>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <span class="text">陈实持刀抢劫案</span>
      <span class="warning">剩余三天时间</span>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <span class="text">黄冈典驰技术有限公司、襄樊创想科技</span>
      <span class="warning over">已逾期</span>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <span class="text">郑再磊、吴磊、江阳团伙金融诈骗案</span>
      <span class="warning over">已逾期</span>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <span class="text">周序华与熊思华农村房屋买卖合同纠纷案</span>
      <span class="warning">剩余1天时间</span>
      <span class="time">2019-06-28</span>
    </li>
  </ul>
</div>
<style type="text/css">
  .case-warning {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .case-warning .news-item {
    height: 36px;
    line-height: 36px;
    position: relative;
  }

  .case-warning .news-item .text {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    cursor: pointer;
    margin: 0;
    text-align: left;
    float: left;
  }

  .case-warning .news-item .warning {
    position: relative;
    float: left;
    padding: 0 16px;
    color: #42a0f8;
  }

  .case-warning .news-item .warning.over {
    color: red;
  }

  .case-warning .news-item .text:hover {
    text-decoration: underline;
  }

  .case-warning .news-item .time {
    position: absolute;
    right: 0;
    color: #999;
  }
</style>
