<div>
  <ul class="news-list">
    <li class="news-item">
      <a class="text"> 关于院内对5楼503会议室进行工位调整的通知</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">最高检于2019年6月5日到我院进行工作指导的相关事宜</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">我省重大案件大数据评查结果公示</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">我院开展主题教育“读书班”活动</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">我院技术处去天津法院、焦作检察院进行学习考察的资料报告</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">湖北省检察院2019年夏季“爱健康、爱运动”主题活动</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">湖北省检察院2019年夏季“爱健康、爱运动”主题活动</a>
      <span class="time">2019-06-28</span>
    </li>
  </ul>
</div>
