<div>
  <ul class="news-list">
    <li class="news-item">
      <a class="text">东新检要闻|海口市龙华区人民检察院来院交流自贸区检查工作</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">东新检要闻|海口市龙华区人民检察院来院交流自贸区检查工作</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">东新检要闻|海口市龙华区人民检察院来院交流自贸区检查工作</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">东新检要闻|海口市龙华区人民检察院来院交流自贸区检查工作</a>
      <span class="time">2019-06-28</span>
    </li>
    <li class="news-item">
      <a class="text">东新检要闻|海口市龙华区人民检察院来院交流自贸区检查工作</a>
      <span class="time">2019-06-28</span>
    </li>
  </ul>
</div>
